.education__container{
    display: grid   ;
    grid-template-columns: 35% 53%;
    gap: 12%;
    background: #55BCC9;
}
.education__images{
    height: fit-content;
    max-height: 40rem;
    border: 1rem  solid ;
     transition:var(--transition);
}

.education__para{
    margin: 3rem  1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}
@media screen and (max-width:1024px){
    .education__container{
        grid-template-columns: 1fr 1fr;
    }

    
}
@media screen and (max-width:600px){
    .education__container{
        grid-template-columns: 1fr 1fr;
    }
}
